[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
click = "*"
django = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
djangorestframework = "*"
pytelegrambotapi = "*"
psycopg2 = "*"
django-constance = "*"
django-tgbot = "*"
django-discordbot = "*"
django-telegrambot = "*"
telegram = "*"
sentry-sdk = "*"
drf-yasg = "*"
djoser = "*"
django-filter = "*"

[dev-packages]
cowsay = "*"

[requires]
python_version = "3.10"
