[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
django = "==3.2.9"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
djangorestframework = "*"
django-constance = "*"
sentry-sdk = "*"
drf-yasg = "*"
djoser = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
